<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="registration.component.css">
    <title>Inspection Data Web Portal - Registration</title>
</head>
<body>
    <header>
        Registration
    </header>
    
    <!-- <div class="registrationChoice">
        <label>What type of User are you?</label>
        <select #usertype id="usertype" (change)="checkUser()">
            <option disabled selected> Select an option</option>
            <option value="App User">App User</option>
            <option value="Administrator">Administrator</option>
        </select>
        <button (click)="userChoiceHelp()">?</button>
    </div>

    <div #AppUserInfo id="AppUserInfo">
        <span>Username: </span><button id="help" (click)="appUserHelp()">?</button><input type="text">
        <br>
        <span>Password: </span><input type="password" [(ngModel)]="userPassword">
        <br>
        <span>Confirm Password: </span><input type="password">
        <br>
        <span>Email: </span><input type="text" [(ngModel)]="userEmail">
        <br>
        <button type="button" (click)="createCompanyAdmin()">Sign Up</button>
    </div> -->
    <h1>Register Your Company</h1>

    <div #registerDiv id="registerDiv">
        <h2>Account Information</h2>
        <span *ngIf="fieldsEmpty" class="errorText">Field(s) empty</span>
        <br *ngIf="fieldsEmpty">
        <span>Full Name: </span><input type="text" [(ngModel)]="userFullName" name="userFullName">
        <span *ngIf="!validEmail" class="errorText">Invalid email format</span>
        <br *ngIf="!validEmail">
        <span>Email: </span><input type="text" [(ngModel)]="userEmail" name="userEmail">
        <br>
        <span *ngIf="!passwordsMatch" class="errorText">Passwords do not match</span>
        <br *ngIf="!passwordsMatch">
        <span>Password: </span><input type="password" [(ngModel)]="userPassword" name="userPassword">
        <br>
        <span>Confirm Password: </span><input type="password" [(ngModel)]="userPasswordConfirmation" name="userPasswordConfirmation">
        <br>
        
        <h2>Company Information</h2>
        <span>Company name: </span><input type="text" [(ngModel)]="companyName" name="companyName">
        <br>
        <span *ngIf="!validCompanyEmail" class="errorText">Invalid email format</span>
        <br *ngIf="!validCompanyEmail">
        <span>Company contact email: </span><input type="text" [(ngModel)]="companyEmail" name="companyEmail">
        <br>
        <span *ngIf="!validPhoneNumber" class="errorText">Phone number is invalid</span>
        <br *ngIf="!validPhoneNumber">
        <span>Company contact phone number: </span><input type="text" [(ngModel)]="companyPhoneNumber" name="companyPhoneNumber">
        <br>
        <button type="button" (click)="createCompanyAdmin()">Register</button>
    </div>
</body>
</html>