<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="registration.component.css">
    <title>Inspection Data Web Portal - Registration</title>
</head>
<body>
    <header>
        Registration
    </header>
    
    <!-- <div class="registrationChoice">
        <label>What type of User are you?</label>
        <select #usertype id="usertype" (change)="checkUser()">
            <option disabled selected> Select an option</option>
            <option value="App User">App User</option>
            <option value="Administrator">Administrator</option>
        </select>
        <button (click)="userChoiceHelp()">?</button>
    </div>

    <div #AppUserInfo id="AppUserInfo">
        <span>Username: </span><button id="help" (click)="appUserHelp()">?</button><input type="text">
        <br>
        <span>Password: </span><input type="password" [(ngModel)]="userPassword">
        <br>
        <span>Confirm Password: </span><input type="password">
        <br>
        <span>Email: </span><input type="text" [(ngModel)]="userEmail">
        <br>
        <button type="button" (click)="createCompanyAdmin()">Sign Up</button>
    </div> -->
    <h1>Register Your Company</h1>

    <div #registerDiv id="registerDiv">
        <h2>Account Information</h2>
        <span>Email: </span><input type="text" [(ngModel)]="userEmail" required>
        <br>
        <span>Password: </span><input type="password" [(ngModel)]="userPassword" required>
        <br>
        <span>Confirm Password: </span><input type="password" [(ngModel)]="userPasswordConfirmation" required>
        <br>
        
        <h2>Company Information</h2>
        <span>Company name: </span><input type="text" [(ngModel)]="companyName" required>
        <br>
        <span>Company contact email: </span><input type="text" [(ngModel)]="companyEmail" required>
        <br>
        <span>Company contact phone number: </span><input type="text" [(ngModel)]="companyPhoneNumber" required>
        <br>
        <button type="button" (click)="createCompanyAdmin()">Register</button>
    </div>
</body>
</html>