<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="registration.component.css">
    <title>Inspection Data Web Portal - Registration</title>
</head>
<body>
    <header>
        Registration
    </header>
    
    <div class="registrationChoice">
        <label>What type of User are you?</label>
        <select #usertype id="usertype" (change)="checkUser()">
            <option disabled selected> Select an option</option>
            <option value="App User">App User</option>
            <option value="Administrator">Administrator</option>
        </select>
        <button (click)="userChoiceHelp()">?</button>
    </div>

    <div #AppUserInfo id="AppUserInfo">
        <span>Username: </span><button id="help" (click)="appUserHelp()">?</button><input type="text">
        <br>
        <span>Password: </span><input type="text">
        <br>
        <span>Confirm Password: </span><input type="text">
        <br>
        <span>Email: </span><input type="text">
        <br>
        <a href="index.html"><button>Sign Up</button></a>
    </div>

    <div #AdministrationInfo id="AdministrationInfo">
        <h2>Account Information</h2>
        <span>Username: </span><input type="text">
        <br>
        <span>Password: </span><input type="text">
        <br>
        <span>Confirm Password: </span><input type="text">
        <br>
        <span>Email: </span><input type="text">
        <br>
        <h2>Company Information</h2>
        <span>Company name: </span><input type="text">
        <br>
        <span>Company contact email: </span><input type="text">
        <br>
        <span>Company contact phone number: </span><input type="text">
        <br>
        <a href="index.html"><button>Sign Up</button></a>
    </div>

    <script>
       
    </script>
</body>
</html>