body{
    margin: 0;
    background-color: #AAAAAA;
}
.userInfo{
    text-align: center;
    font-size: 30px;
}

th {
    cursor: pointer;
}

td {
    width:33%;
    border-bottom: 5px solid grey;
}

.app-title {
    line-height:50px;
    font-size:20px;
    color: white;
}

thead {
    background-color: grey;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    border-left: 5px solid grey;
    border-right: 5px solid grey;
    background-color: white;
    font-size: 15px;
    font-family: verdana;
}

#content {
    margin-left: 160px;
}

tbody > tr:hover{
    background-color: #dedede;
    cursor: pointer;
}