<!DOCTYPE html>
<html>
<head>
    <title>Inspection Data Web Portal - Log In</title>
</head>
<body>
    <header>
        Sign In
    </header>
    <div class="dataentry">
        <h1>User Log In</h1>
        <span *ngIf="failedLogin" id="failedLogin">Incorrect email or password. Please re-enter.</span>
        <form>
            <span>Email: </span>
            <input type="text" [(ngModel)]="username" name="username"/>
        </form>
        <br />
        <form>
            <span>Password: </span>
            <input type="password" [(ngModel)]="password" name="password">
        </form>
        <br>
        <!-- Change this routing to happen after the firebase login is authenticated -->
        <a routerLink="/registration" routerLinkActive="active"><button id="register">Register</button></a>
        <a (click)="logIn()"><button id="login">Log In</button></a>
    </div>
</body>
</html>