<!DOCTYPE html>
<html>
<head>
    <link href="dashboard.component.css" rel="stylesheet"/>
    <title>Inspection Data Web Portal</title>
</head>
<body>
    <div #loading id="loading">
        <p>LOADING</p>
    </div>
    <header>
        <span id="headerText" #headerText>Dashboard</span>
        <a routerLink="/login" routerLinkActive="active"><button id="logOut" (click)="signUserOut()">Log Out</button></a>
    </header>
    <nav>
        <ul class="navbar">
            <li (click)="showUsers()" *ngIf="userLevel == 'admin' || userLevel == 'system_admin'">App Users</li>
            <li (click)="toggleInspectionTypes()">Inspections</li>
            <ul id="moreinfo" #moreinfo style="display:none;">
                <!-- <li (click)="showObs()">Observations</li>
                <li (click)="showInv()">Investigations</li> -->
                <li *ngFor="let type of allInspectionTypes | keyvalue" (click)="showInspections(type.value)">{{ type.value | titlecase }}</li>
            </ul>
        </ul>
    </nav>
    <div id="content">
        <div #inspections>
            <table>
                <thead>
                    <th>Date & Time</th>
                    <th *ngIf="userLevel =='admin' || userLevel == 'system_admin'">Inspector</th>
                    <th>Inspection Type</th>
                    <th *ngIf="userLevel == 'system_admin'">Company</th>
                </thead>
                <tbody>
                    <tr *ngFor="let inspection of allUserInspections | keyvalue">
                        <td (click)="getInspectionData(inspection.value)">{{inspection.value.inspection_datetime}}</td>
                        <td *ngIf="userLevel =='admin' || userLevel == 'system_admin'">{{inspection.value.inspector}}</td>
                        <td>{{inspection.value.inspection_type | titlecase}}</td>
                        <td *ngIf="userLevel == 'system_admin'">{{inspection.value.company}}</td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="isEmptyObject(allUserInspections)">
                <p>No inspections of this type</p>
            </div>
        </div>
        
        <div id="appUsers" #appUsers>
            <div class="filter">
                <label>Filter: </label><input type="text"/>
                <a *ngIf="userLevel == 'admin'" class="newUser"><button (click)="showAddNewUser()">Add New User</button></a>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Full Name</th>
                        <th>Authoritzation Level</th>
                        <th *ngIf="userLevel == 'system_admin'">Company</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let users of appUsersList | keyvalue">
                        <td> {{users.value.email}} </td>
                        <td> {{users.value.name}} </td>
                        <td> {{users.value.user_level}} </td>
                        <td *ngIf="userLevel == 'system_admin'"> {{users.value.company}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="userInfo" #userInfo>
            <button class="back" >Back</button>
            <div id="changeableInfo" style="margin: 10px 0 0 10px;">
                <label>Full Name: </label><input type="text" value="Zakary Mastorio">
                <br>
                <label>Username: </label><input type="text" value="ZMASTORIO">
                <br>
                <form>
                    <span>Status: </span>
                    <input type="radio" name="Status" value="Enabled" checked>
                    <label for="Enabled">Enabled</label>
                    <input type="radio" name="Status" value="Disabled">
                    <label for="Disabled">Disabled</label>
                </form>
                <button>Save Changes</button>
            </div>
            <p style="margin-left: 10px;">Completed Inspections: </p>
            <table>
                <thead>
                    <tr>
                        <th>Date & Time</th>
                        <th>User</th>
                        <th>Inspection Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2020-10-15</td>
                        <td>Investigation</td>
                        <td>123456</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="addUser" #addUser>
            <button class="back" (click)="goBackToAppUsers()">Back</button>
            <div id="addUserInfo">
                <form>
                    <span>User's full name: </span>
                    <input type="text" #newUserName>
                    <br>
                    <span>User's email: </span> <!--<button type="button" (click)="addUserHelp()">?</button> -->
                    <input type="text" #newUserEmail>
                    <br>
                    <span>Create a default password for the user: </span>
                    <input type="password" #newUserPassword>
                    <br>
                    <button type="button" (click)="addNewAppUser()">Submit</button>
                </form>
            </div>
        </div>
        
        <div id="inspectionContents" #inspectionContents>
            <div class="inspectiondata">
                <button class="back" (click)="showInspections(specificInspection['inspection_type'])">Back</button>
                <div class="row">
                    <div class="column">
                        <h2>Download XML File</h2>
                        <a href="{{xmlURL}}" target="_blank" download="imgage.jpg">{{xmlFileName}}</a>
                    </div>
                    <div class="column download">
                        <h2>Attachments</h2>
                        <span *ngFor="let attachment of attachmentURLs | keyvalue">
                            <a target="_blank" href="{{attachment.value.url}}">{{attachment.value.filename}}</a><br />
                        </span>
                        
                    </div>
                </div> 
            </div>
        </div>
    </div>
</body>
</html>