<!DOCTYPE html>
<html>
<head>
    <link href="dashboard.component.css" rel="stylesheet"/>
    <title>Inspection Data Web Portal</title>
</head>
<body>
    <div #loading id="loading">
        <p>LOADING</p>
    </div>
    <header>
        <span id="headerText" #headerText>Dashboard</span>
        <a routerLink="/login" routerLinkActive="active"><button id="logOut" (click)="signUserOut()">Log Out</button></a>
    </header>
    <nav>
        <ul class="navbar">
            <li (click)="showUsers()" *ngIf="userLevel == 'admin' || userLevel == 'system_admin'">App Users</li>
            <li (click)="toggleInspectionTypes()">Inspections</li>
            <ul id="moreinfo" #moreinfo style="display:none;">
                <!-- <li (click)="showObs()">Observations</li>
                <li (click)="showInv()">Investigations</li> -->
                <li *ngFor="let type of allInspectionTypes | keyvalue" (click)="showInspections(type.value)">{{ type.value | titlecase }}</li>
            </ul>
        </ul>
    </nav>
    <div id="content">
        <div #inspections>
            <table>
                <thead>
                    <th>Date & Time</th>
                    <th *ngIf="userLevel =='admin' || userLevel == 'system_admin'">Inspector</th>
                    <th>Inspection Type</th>
                    <th *ngIf="userLevel == 'system_admin'">Company</th>
                </thead>
                <tbody>
                    <tr *ngFor="let inspection of allUserInspections | keyvalue">
                        <td (click)="getInspectionData(inspection.value)" *ngIf="userLevel === 'admin'">{{inspection.value.inspection_datetime}}</td>
                        <td (click)="getInspectionData(inspection.value)" *ngIf="userLevel === 'system_admin'" class="fourColumns">{{inspection.value.inspection_datetime}}</td>
                        <td *ngIf="userLevel ==='admin'" (click)="getInspectionData(inspection.value)">{{inspection.value.inspector}}</td>
                        <td *ngIf="userLevel === 'system_admin'" (click)="getInspectionData(inspection.value)" class="fourColumns">{{inspection.value.inspector}}</td>
                        <td (click)="getInspectionData(inspection.value)" *ngIf="userLevel ==='admin'">{{inspection.value.inspection_type | titlecase}}</td>
                        <td (click)="getInspectionData(inspection.value)" *ngIf="userLevel ==='system_admin'" class="fourColumns">{{inspection.value.inspection_type | titlecase}}</td>
                        <td *ngIf="userLevel === 'system_admin'" (click)="getInspectionData(inspection.value)" class="fourColumns">{{inspection.value.company}}</td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="isEmptyObject(allUserInspections)">
                <p>No inspections of this type</p>
            </div>
        </div>
        
        <div id="appUsers" #appUsers>
            <div class="addNewUser">
                <a *ngIf="userLevel == 'admin'" class="newUser"><button (click)="showAddNewUser()">Add New User</button></a>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Full Name</th>
                        <th>Authoritzation Level</th>
                        <th *ngIf="userLevel == 'system_admin'">Company</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let users of appUsersList | keyvalue">
                        <td *ngIf="userLevel !== 'system_admin'"> {{users.value.email}} </td>
                        <td *ngIf="userLevel === 'system_admin'" class="fourColumns"> {{users.value.email}} </td>
                        <td *ngIf="userLevel !== 'system_admin'"> {{users.value.name}} </td>
                        <td *ngIf="userLevel === 'system_admin'" class="fourColumns"> {{users.value.name}} </td>
                        <td *ngIf="userLevel !== 'system_admin'"> {{users.value.user_level}} </td>
                        <td *ngIf="userLevel === 'system_admin'" class="fourColumns"> {{users.value.user_level}} </td>
                        <td *ngIf="userLevel === 'system_admin'" class="fourColumns"> {{users.value.company}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="addUser" #addUser>
            <button class="back" (click)="goBackToAppUsers()">Back</button>
            <div id="addUserInfo">
                <form>
                    <span *ngIf="fieldsEmpty" class="errorText">Field(s) empty</span>
                    <br *ngIf="fieldsEmpty">
                    <span>User's full name: </span>
                    <input type="text" [(ngModel)] = "newUserName" name="newUserName" required>
                    <span *ngIf="badEmail" class="errorText">Incorrect email format</span>
                    <br>
                    <span>User's email: </span>
                    <input type="text" [(ngModel)] = "newUserEmail" name="newUserEmail" required>
                    <span *ngIf="!passwordsMatch" class="errorText">Passwords do not match</span>
                    <br>
                    <span>Create a default password for the user: </span>
                    <input type="password" [(ngModel)] = "newUserPassword" name="newUserPassword" required>
                    <br>
                    <span>Confirm password: </span>
                    <input type="password" [(ngModel)] = "newUserPasswordConfirm" name="newUserPasswordConfirm" required>
                    <br>
                    <button type="button" (click)="addNewAppUser()">Submit</button>
                </form>
            </div>
        </div>
        <div id="inspectionContents" #inspectionContents>
            <div class="inspectiondata">
                <button class="back" (click)="showInspections(specificInspection['inspection_type'])">Back</button>
                <div class="row">
                    <div class="column">
                        <h2>Inspection XML File</h2>
                        <table>
                            <tbody>
                                <tr>
                                    <td><a href="{{xmlURL}}" target="_blank" download="imgage.jpg">{{xmlFileName}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="column download">
                        <h2 *ngIf="attachmentURLs?.length > 0">Attachments</h2>
                        <table>
                            <tbody>
                                <tr *ngFor="let attachment of attachmentURLs | keyvalue">
                                    <td><a target="_blank" href="{{attachment.value.url}}">{{attachment.value.filename}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </div> 
            </div>
        </div>
    </div>
</body>
</html>