<!DOCTYPE html>
<html>
<head>
    <link href="dashboard.component.css" rel="stylesheet"/>
    <title>Inspection Data Web Portal</title>
</head>
<body>
    <header>
        <span id="headerText" #headerText>Dashboard</span>
        <a routerLink="/login" routerLinkActive="active"><button id="logOut" (click)="signUserOut()">Log Out</button></a>
    </header>
    <nav>
        <ul class="navbar">
            <li (click)="showUsers()" *ngIf="isAdministrator">App Users</li>
            <li (click)="showstuff()">Inspections</li>
            <ul id="moreinfo" #moreinfo style="display:none;">
                <!-- <li (click)="showObs()">Observations</li>
                <li (click)="showInv()">Investigations</li> -->
                <li *ngFor="let type of allInspectionTypes | keyvalue" (click)="showInspections(type)">{{ type.key | titlecase }}</li>
            </ul>
        </ul>
    </nav>
    <div id="content">
        <div #inspections>
            <table>
                <thead>
                    <th>Date & Time</th>
                    <th>Inspector</th>
                    <th>Inspection Type</th>
                </thead>
                <tbody>
                    <tr *ngFor="let inspection of allUserInspections | keyvalue">
                        <td>{{inspection.value.inspection_date}}</td>
                        <td>{{inspection.value.inspector}}</td>
                        <td>{{inspection.value.inspection_type | titlecase}}</td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="isEmptyObject(allUserInspections)">
                <p>No inspections of this type</p>
            </div>
        </div>
        
        <div id="appUsers" #appUsers>
                <div class="filter">
                    <label>Filter: </label><input type="text"/>
                    <a class="newUser"><button>Add New User</button></a>
                </div>
                    
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Full Name</th>
                        <th>Inspections Completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let users of allAppUsers | keyvalue">
                        <td> {{users.value.email}} </td>
                        <td> {{users.value.email}} </td>
                        <td> {{users.value.email}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="userInfo" #userInfo>
            <button class="back" >Back</button>
            <div id="changeableInfo" style="margin: 10px 0 0 10px;">
                <label>Full Name: </label><input type="text" value="Zakary Mastorio">
                <br>
                <label>Username: </label><input type="text" value="ZMASTORIO">
                <br>
                <form>
                    <span>Status: </span>
                    <input type="radio" name="Status" value="Enabled" checked>
                    <label for="Enabled">Enabled</label>
                    <input type="radio" name="Status" value="Disabled">
                    <label for="Disabled">Disabled</label>
                </form>
                <button>Save Changes</button>
            </div>
            <p style="margin-left: 10px;">Completed Inspections: </p>
            <table>
                <thead>
                    <tr>
                        <th>Date & Time</th>
                        <th>User</th>
                        <th>Inspection Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2020-10-15</td>
                        <td>Investigation</td>
                        <td>123456</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="addUser" #addUser>
            <button class="back" >Back</button>
            <div id="addUserInfo">
                <form>
                    <span>Create a username for the new app user: </span> <button type="button" (click)="addUserHelp()">?</button>
                    <input type="text">
                    <br>
                    <button type="button" >Submit</button>
                </form>
            </div>
        </div>
        <div id="inspections">
            <div id="observations" #observations>
                <div class="filter">
                    <label>Filter: </label><input type="text"/>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Date & Time</th>
                            <th>User</th>
                            <th>Inspection Type</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let inspection of allUserInspections | keyvalue" class="inspectionlist">
                        <td>{{inspection.value.inspection_date}}</td>
                        <td>{{inspection.value.inspector}}</td>
                        <td>{{inspection.value.inspection_type | titlecase}}</td>
                    </tr>
                </table>
            </div>
            <div id="observationsInfo" #observationsInfo>
                <div class="inspectiondata">
                    <button class="back" (click)="showUsers()">Back</button>
                    <div class="row">
                        <div class="column">
                   <textarea style="width: 100%;height:75vh; margin-left: 1%;">
<observationFormGroup>
    <observationForms>
        <observationFormInstance userid="KLAS" siteid="214719">
        <firstSurveyDate>2020-08-12T17:05:54.000-04:00</firstSurveyDate>
        <secondSurveyDate>2020-08-12T17:05:54.000-04:00</secondSurveyDate>
        <facilityType>Office Suite-Mall</facilityType>
        <isOpen>true</isOpen>
        <hasStaff>false</hasStaff>
        <hasCustomers>true</hasCustomers>
        <hasSign>true</hasSign>
        <hoursOfOperation>7 to 7 </hoursOfOperation>
        <hasInventory>true</hasInventory>
        <isOperational>true</isOperational>
        <additionalComments>Demo to Dave</additionalComments>
        <executedDate>2020-08-12-04:00</executedDate>
        </observationFormInstance>
    </observationForms>
</observationFormGroup>
                       </textarea>
             </div>
             <div class="column download">
                   <p>All documents associated with this inspection:</p>
                   <table>
                       <thead>
                           <th>File Size</th>
                           <th>File Type</th>
                       </thead>
                       <tbody>
                           <tr>
                               <td><a href="https://apps.csse-projects.monmouth.edu/uploads/214721_KLAS_8E648237-9378-4949-B901-EE8C59909AE1.jpeg" target="_blank">797KB</a></td>
                               <td><a href="https://apps.csse-projects.monmouth.edu/uploads/214721_KLAS_8E648237-9378-4949-B901-EE8C59909AE1.jpeg" target="_blank">JPEG</a></td>
                           </tr>
                           <tr>
                               <td><a href="https://apps.csse-projects.monmouth.edu/uploads/214721_KLAS_ack-F29FDAF5-A7F8-43C3-94C6-CD746197A43F.pdf" download>172KB</a></td>
                               <td><a href="https://apps.csse-projects.monmouth.edu/uploads/214721_KLAS_ack-F29FDAF5-A7F8-43C3-94C6-CD746197A43F.pdf" download>PDF</a></td>
                           </tr>
                       </tbody>
                   </table>
             </div>
           </div> 
            </div>
        </div>
        </div>
    </div>
</body>
</html>